.button {
    background-image: linear-gradient(145deg,#ffc867,#f037a6);
    color: white;
    font-family: 'Circular STD Bold';
    min-width: 300px;
    max-width: 400px;
    min-height: 75px;
    font-size: 200%;
    border-radius: 50px;
    border-style: solid;
    border-color: white;
}

.nav_header_combined_login {
    background-image: linear-gradient(0deg, rgba(30, 215, 96, .7), rgba(140, 216, 103, .7)), url(bg_triangle_green.png);
    min-width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
}

#login_disclaimer {
    font-family: 'Circular STD Medium';
    font-size: 130%;
    color: white;
    margin-top: 2%;
    max-width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

#info_container {
    padding-top: 10%;
    margin-top: 9%;
    padding-bottom: 30%;
}

#aboutUs_paragraph {
    font-family: 'Circular STD Book';
    font-size: 150%;
    color: white;
    margin-top: 2%;
    max-width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    padding: 20px;
    border-radius: 20%;
}

#aboutUS_div {
    width: 80%;
    background-image: linear-gradient(145deg,#ffc867,#f037a6);
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 5%;
    border-style: solid;
    border-color: white;
}